.about {
  padding: 0 .9375rem;
  padding-bottom: 2rem;
  max-width: 950px;
  height: 200px;
  overflow: hidden;  
}

.about__overflow--visible {
  height: auto;
  overflow: visible;
}

.about h1 {
  margin-bottom: 1.25rem;
  color: var(--gray);
  font-weight: 700;
  line-height: 1.25;
}

.about p {
  color: var(--gray);
  font-size: 1.125rem;
  line-height: 1;
  overflow:hidden;
}

.about ul {
  padding-left: 1.5rem;
  list-style-type:disc;
  color: var(--gray);
}

.about__btn {
  padding-top: .625rem;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: var(--dkorange);
  max-width: 950px;
  text-align: center;
}

.about__btn:hover {
  cursor: pointer;
}

.about__btn::after {
  display: inline-block;
  margin-left: .625rem;
  vertical-align: top;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 1px solid var(--dkorange);
  border-left: 1px solid var(--dkorange);
  transform: rotate(225deg)
}
